@model ASSIGNMENT03_BRYANHUGHES.Models.Student
@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <p>Student ID: @Model.StudentId</p>
    <p>Student Number: @Model.StudentNumber</p>
    <p>Enrollment Date: @Model.EnrollDate</p>
</div>

